name: ML Workflow CI (Conda)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train-model:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.10
        environment-file: MLProject/conda.yaml
        activate-environment: mental_health_env

    - name: Verify Conda Environment
      run: |
        conda info
        conda list

    - name: Install MLflow
      run: |
        pip install mlflow

    - name: Run MLProject Training
      run: |
        mlflow run MLProject -P data_file="mh_sosmed_dataset.csv" -P n_estimators=100

    - name: Show MLflow Run Summary
      run: |
        mlflow ui &
        sleep 10
        echo "MLflow UI is running in the background."