name: ML Workflow CI (Conda)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train-model:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0} 

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: "mental_health_env" 
        environment-file: MLProject/conda.yaml 
        python-version: 3.10
        auto-activate-base: false
        miniforge-variant: Mambaforge
        use-mamba: true 

    - name: Verify Environment & Install MLflow (if needed)
      run: |
        conda activate mental_health_env
        conda list
        # Pastikan MLflow terinstall (jika belum tercover di pip section conda.yaml)
        pip install mlflow

    - name: Run MLflow Project
      run: |
        conda activate mental_health_env
        mlflow run MLProject --no-conda --experiment-name "CI_Conda_Run"

    - name: Upload Model Artifact
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: MLProject/output/model.joblib